#wrap {
width:960px;
margin:0 auto;
background: #FFF;
}

#friendcolumn {
	width: 260px;
	margin:0px;
	float: left;
}

#eventcolumn {
	width: 600px;
	margin: 0px;
	float:right;
}

#eventdetails {
	height: 25px;
	width: 900px;
	margin: 0px;
	padding: 25px 0;
}

#clear{
	clear:both;
}